
/* header */

.header {
    padding: 50px 0 20px 0;
}

.header .logo {
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.header .nav-menu-header {
    float: left;
    margin-left: 180px;
    margin-top: 15px;
}

.header .container > a {
    float: right;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #f3613c;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: 0 8px 5px rgba(0,0,0,.1);
}

.header .nav-menu-header ul li {
    display: inline-block;
    margin-left: 15px;
}

.header .nav-menu-header ul li a {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #242e52;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

/* header */

/* Primeira Seção */

.main {
    padding-top: 120px;
    background-color: #fff0eb;
}

.main .main-item-1 {
    float: left;
    margin-top: 60px;
    margin-left: 10px;
}

.main .main-item-1 h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #242e52;
    margin-bottom: 20px;
}

.main .main-item-1 p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    max-width: 360px;
    color: #95959d;
    margin-bottom: 20px;
}

.main .main-item-1 a {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #f3613c;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0 8px 5px rgba(0,0,0,.1);
}

.main .main-item-2 {
    float: right;
    margin-right: 10px;
}

/* Primeira Seção */

/* Segunda Seção */

.segunda-secao {
    margin-top: 120px;
}

.segunda-secao .secao2-item1 {
    float: left;
    margin-left: 10px;
}

.segunda-secao .secao2-item1 h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #242e52;
    margin-bottom: 20px;
}

.segunda-secao .secao2-item1 p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    max-width: 330px;
    color: #95959d;
}

.segunda-secao .secao2-item2 {
    float: right;
    margin-right: 10px;
}

.segunda-secao .secao2-item2 h3 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #242e52;
    margin-bottom: 20px;
    margin-left: -80px;
}

.segunda-secao .secao2-item2 p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #95959d;
    max-width: 440px;
    margin-bottom: 40px;
}

.segunda-secao .secao2-item2 span {
    margin-right: 20px;
    background-color: #f3613c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Segunda Seção */

/* Terceira Seção */

.terceira-secao {
    margin-top: 80px;
    text-align: center;
}

.secao3-item1 h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #242e52;
}

.secao3-item2 {
    width: 540px;
    height: 210px;
    background-color: #fff0eb;
    margin: 60px auto 0 auto;
}

.secao3-item2 img {
    width: 70px;
    display: inline-block;
    margin-top: -35px;
}

.secao3-item2 blockquote cite {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #242e52;
    display: block;
    margin: 20px 0;
}

.secao3-item2 blockquote p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    max-width: 420px;
    margin: 0 auto;
    color: #95959d;
}

.terceira-secao > a {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #f3613c;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 60px;
    box-shadow: 0 8px 5px rgba(0,0,0,.1);
}

/* Terceira Seção */

/* Seção de Quebra */

.secao-quebra {
    margin-top: 120px;
    padding: 80px 0;
    background: #f3613c url(/images/bg-simplify-section-desktop.svg) no-repeat;
    background-position: 10px -85px;
}

.secao-quebra h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    max-width: 430px;
    float: left;
    color: #fff;
    margin-left: 10px;
}

.secao-quebra a {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    color:#f3613c;
    padding: 15px 30px;
    border-radius: 30px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

/* Seção de Quebra */

/* Rodapé do Site */

.footer {
    padding: 60px 0;
    background-color: #1e1e26;
}

.footer-itens {
    float: left;
    margin-left: 10px;
}

.footer-itens ul {
    margin-top: 100px;
}

.footer-itens ul li {
    float: left;
    margin-right: 10px;
}

.footer-itens ul li a {
    color: #fff;
    font-size: 30px;
}

.footer-itens .logo img {
    width: 190px;
}

.footer-nav ul {
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}

.footer-nav ul li {
    margin-bottom: 20px;
}

.footer-nav ul li a {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    color: #ffffff;
}

.form-copy {
    float: right;
    margin-right: 10px;
}

.form-copy .form input {
    padding: 20px 30px;
    border-radius: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #040305;
    outline: none;
    border: none;
    margin-right: 10px;
}

.form-copy .form input::placeholder {
    color: #95959d;
    font-weight: 500;
}

.form-copy .form button {
    padding: 20px 30px;
    border-radius: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #f3613c;
    color: #fff;
    border: none;
}

.form-copy .footer-copy {
    margin-top: 75px;
    float: right;
}

.form-copy .footer-copy p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #fff;
}

/* Rodapé do Site */
