/* Tablet / Middle Screen */

@media (min-width: 779px) and (max-width: 1060px) {
    /* Container */
    
    .container  {
        max-width: 768px;
    }

    /* Container */

    /* Header */

    .header {
        padding: 40px 0;
        text-align: center;
    }
    
    .header .logo {
        margin: 0 auto;
    }

    .header .nav-menu-header {
        margin: 20px 0 40px 0;
    }

    .header .container > a {
        margin-right: 0;
    }
    
    
    .header .logo, .header .nav-menu-header, .header .container > a {
        float: none;
    }

    /* Header */


    /* Main */

    .main {
        padding: 60px 0;
    }

    .main .main-item-1 h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .main .main-item-1 p {
        max-width: 300px;
    }


    .main .main-item-2 img {
        width: 360px;
    }

    .main .main-item-1 {
        margin-top: 40px;
    }

    /* Main */
    
    /* Segunda Seção */

    .segunda-secao {
        margin-top: 60px;
    }

    .segunda-secao .secao2-item1 h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .segunda-secao .secao2-item2 p, 
    .segunda-secao .secao2-item1 p {
        max-width: 320px;
    }

    .segunda-secao .secao2-item2 h3 {
        margin-left: -60px;
    }

    .segunda-secao .secao2-item2 span {
        padding: 5px 10px;
    }

    /* Segunda Seção */
    
    /* Seção Depoimento */

    .terceira-secao {
        margin-top: 20px;
    }

    /* Seção Depoimento */
    
    /* Seção Quebra */
    
    .secao-quebra {
        margin-top: 60px;
        background: #f3613c url(/images/bg-simplify-section-mobile.svg) no-repeat cover;
        background-position: 30px;
        background-size: cover;
    }
    
    /* Seção Quebra */
    
    /* Footer */

    .footer-itens {
        margin-top: 40px;
    }

    .footer-itens .logo img {
        width: 250px;
    }

    .footer-itens ul {
        margin-top: 150px;
    }
    
    .footer-nav ul {
        float: right;
        margin: 0 0 50px 150px;
    }

    .footer-itens ul li a {
        font-size: 40px;
    }

    .form-copy .form input, .form-copy .form button {
        padding: 10px 20px;    
    }

    .form-copy .footer-copy {
        margin-top: 40px;
    }

    /* Footer */

}


/* Mobile */

@media (max-width: 778px) {

    /* Container */
    
    .container  {
        max-width: 360px;
    }

    /* Container */

    /* Header */

    .header {
        padding: 20px 0;
    }

    .header .logo {
        margin: 10px 0 0 0;
    }


    .header .nav-menu-header ul, .header .container > a {
        display: none;
    }

    .header .nav-menu-header {
        float: none;
        margin: 0;
    }

    .mobile-menuBtn {
        position: relative;
        width: 60px;
        height: 40px;
        float: right;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menuBtn::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        box-shadow: 0 -32px #242e52, 0 -16px #242e52;
        background: #242e52;
    }

    /* Header */

    /* Main */

    .main {
        position: relative;
        padding: 50px 0 20px 0;
        text-align: center;
    }
    
    .main .main-item-1, .main .main-item-2 {
        float: none;
        margin: 0;
    }

    .main .main-item-1 {
        margin-top: 352px;   
    }

    .main .main-item-1 h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .main .main-item-1 p {
        max-width: 300px;
        margin: 0 auto 20px auto;
    }

    .main .main-item-2 img {
        width: 360px;
    }

    .main .main-item-2 {
        position: absolute;
        top: 50px;
    }

    /* Main */


    /* Segunda seção */

    .segunda-secao {
        margin-top: 60px;
    }

    .segunda-secao .secao2-item1, 
    .segunda-secao .secao2-item2 {
        float: none;
        margin: 0;
    }

    .segunda-secao .secao2-item1 h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .segunda-secao .secao2-item1 p {
        max-width: 300px;
        margin-bottom: 40px;
    }

    .segunda-secao .secao2-item2 h3 {
        margin-left: 0;
        background: #fff0eb;
        padding: 10px 0;
        border-radius: 20px;
        font-size: 16px;
    }

    .segunda-secao .secao2-item2 p {
        max-width: 300px;
    }

    /* Segunda seção */

    /* Seção de Depoimento */

    .terceira-secao {
        margin-top: 20px;
    }

    .secao3-item2 {
        width: 360px;
    }

    .secao3-item2 blockquote p {
        max-width: 300px;
    }

    /* Seção de Depoimento */


    /* Seção de Quebra */

    .secao-quebra {
        margin-top: 60px;
        background: #f3613c url(/images/bg-simplify-section-mobile.svg) no-repeat cover;
        background-position: 60px;
        background-size: cover;
        text-align: center;
    }

    .secao-quebra h2, .secao-quebra a {
        float: none;
    }

    .secao-quebra h2 {
        font-size: 24px;
        line-height: 30px;
        margin: 0;
    }

    .secao-quebra a {
        display: inline-block;
        margin: 20px 0 0 0;
    }


    /* Seção de Quebra */



    /* Footer */

    .footer {
        position: relative;
        padding: 60px 0 252px 0;
    }


    .footer-itens, 
    .form-copy .footer-copy,
    .form-copy {
        float: none;
    }

    .form-copy .form {
        position: absolute;
        top: 60px;
    }

    .footer-nav ul {
        margin-top: 120px; 
    }

    .footer-nav ul:first-of-type {
        margin-left: 30px;
    }

    .footer-nav ul:last-of-type {
        margin-left: 90px;
    }

    .footer-itens {
        position: absolute;
        top: 335px;
        left: 90px;
    }

    .footer-itens ul {
        margin: 0;
    }

    .footer-itens ul li {
        margin-right: 30px;
    }

    .footer-itens .logo {
        position: absolute;
        top: 90px;
        left: 40px;
    }

    .form-copy .footer-copy {
        position: absolute;
        bottom: 20px;
        left: 80px;
    }


    /* Footer */


}






































